

<div *ngIf="consumo.items!=null;else espera" class="container">
  <h2>Directorio Establecimientos Educativos Oficiales y Privados de Pasto</h2>
  <label for="buscando">
    <input type="text" class="form-control" name="buscando" [(ngModel)]='abuscar' placeholder="Busca por id">
  </label>
  <button class="btn btn-success" (click)="buscar()">Buscar</button>
  <button class="btn btn-danger" (click)="volver()">Volver</button>
  <br>
  <table *ngIf="buscando!=0;" class="table table-dark table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Codigo</th>
          <th>Nombre</th>
          <th>Sector</th>
          <th>Rector</th>
          <th>Telefono</th>
          <th>Correo</th>
        </tr>
    </thead>
    <tbody>
      <tr>
          <td>{{consumo.items[buscando-1].no}}</td>
          <td>{{consumo.items[buscando-1].c_digo}}</td>
          <td>{{consumo.items[buscando-1].nombre}}</td>
          <td>{{consumo.items[buscando-1].sector}}</td>
          <td>{{consumo.items[buscando-1].nombre_rector}}</td>
          <td>{{consumo.items[buscando-1].tel_fono}}</td>
          <td>{{consumo.items[buscando-1].correo_electr_nico}}</td>
      </tr>
      </tbody>
  </table>


  <table *ngIf="buscando==0" class="table table-dark table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Sector</th>
        <th>Rector</th>
        <th>Telefono</th>
        <th>Correo</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of consumo.items | paginate: { itemsPerPage: 10, currentPage: page }">
      <td>{{item.no}}</td>
      <td>{{item.c_digo}}</td>
      <td>{{item.nombre}}</td>
      <td>{{item.sector}}</td>
      <td>{{item.nombre_rector}}</td>
      <td>{{item.tel_fono}}</td>
      <td>{{item.correo_electr_nico}}</td>


    </tr>
  </tbody>
  </table>
  <pagination-controls  class="my-pagination" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>
<ng-template #espera>Esperando Datos...</ng-template>
