

<div *ngIf="consumo.items!=null;else espera" class="container">
  <h2>Directorio Establecimientos Educativos Oficiales y Privados de Pasto</h2>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Sector</th>
        <th>Rector</th>
        <th>Telefono</th>
        <th>Correo</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of consumo.items | paginate: { itemsPerPage: 10, currentPage: page }">
      <td>{{item.no}}</td>
      <td>{{item.c_digo}}</td>
      <td>{{item.nombre}}</td>
      <td>{{item.sector}}</td>
      <td>{{item.nombre_rector}}</td>
      <td>{{item.tel_fono}}</td>
      <td>{{item.correo_electr_nico}}</td>


    </tr>
  </tbody>
  </table>
  <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>
<ng-template #espera>Esperando Datos...</ng-template>
